.comp-page {
    .title {
        margin: 0 auto;
        width: 200px;
        color: #3fc1c9;
        padding: 15px 0;

        h1 {
            font-size: 25px;
        }

        h2 {
            margin-bottom: 5px;
            margin-left: 20px;
        }
    }
    .content {
        width: 100%;
        padding: 0 35px;
    }
    .comp-chart {
        max-width: 350px;
        max-height: 350px;
        flex-grow: 1;
        margin: 0 auto;
    }
    .comp-job-list {
        margin: 15px 0 70px;
        width: 700px;
    }
}
