.job-edit {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;

    input {
        padding: 5px;
    }

    textarea {
        overflow-x: hidden;
        resize: none;
        max-height: 100px;
    }

    label {
        margin: 5px 0;
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .save-btn {
        width: 150px;
        padding: 7px;
        margin: 5px auto;
        font-size: 1em;
        margin-top: 10px;
        transition: .3s;

        &:hover {
            background-color: $clr4;
        }
    }

    .inputfile+label {
        transition: .3s;
        background-color: $clr3;
        padding: 4px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: $clr5;
        max-width: 140px;
        margin: 5px 0;
        display: inline-block;
    }

    .inputLogo+label {
        margin-left: 10px
    }

    .inputfile:focus+label,
    .inputfile+label:hover {
        background-color: $clr4;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .icons-container {
        .icon-item {
            margin: 10px;
            font-size: 22px;
            transition: .2s;
            &:hover{ 
                box-shadow: 0 2px 0 0 lightblue;
            }
            &.active {
                color:$clr1;
            }
        }
    }
}