.job-details {
    .heart {
        color: gray;
    }
    .back-btn {
        position: absolute;
        left: 30px;
    }
    .details {
        margin: 20px auto;
        width: 700px;
        padding: 0 20px;
    }
    .title {
        margin: 40px auto;
        width: 100%;
        h3 {
            font-size: 20px;
            margin-bottom: 5px;
        }
        .job-title {
            color: $clr1;
            font-size: 27px;
        }
    }
    .avatar {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #cfcaca;
        background-color: white;
        margin-right: 5px;
    }
    .job-img {
        width: 360px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }
    .map {
        width: 330px;
        height: 220px;
        border-radius: 10px;
    }
    .desc {
        margin: 40px 0;
        line-height: 25px;
        white-space: pre-line;
    }
    .skills,
    .props {
        h2 {
            margin-bottom: 15px;
            color: $clr3;
        }
        p {
            margin: 7px 0;
        }
    }
    .info,
    .more-info {
        margin: 0 auto;
        width: 100%;
    }
    .skills {
        flex-grow: 1;
        padding-left: 35px;
    }
    .props {
        padding-left: 50px;
        h2 {
            text-align: center;
        }
    }
    .more-info {
        margin-bottom: 35px;
    }
    .wall-container {
        flex-grow: 1;
        max-width: 35vw;
        height: calc(100vh - 75px);
        position: sticky;
        top: 75px;
        border-left: 1px solid #d0d0d0;
    }
    .apply-btn {
        width: 100px;
        height: 30px;
        transition: 0.3s;
        &:hover {
            background-color: $clr4;
        }
    }
    .disabled-btn {
        width: 100px;
        height: 30px;
        opacity: 0.6;
        cursor: auto;
    }
    @media (max-width: 1040px) {
        width: 100%;
        .title {
            width: 360px;
            flex-direction: column;
            margin: 0 auto 40px;
            position: relative;
            .comp {
                margin-right: 20px;
                margin-bottom: 30px;
            }
            .position {
                margin-bottom: 15px;
            }
        }
        .details {
            width: auto;
            flex-grow: 1;
            padding: 0 30px;
        }
        .wall-container {
            max-width: 350px;
            min-width: 350px;
        }
        .props {
            padding: 0;
        }
    }
    @media(max-width: 980px) {
        .info {
            flex-direction: column;
            .job-img {
                margin-bottom: 25px;
            }
            .skills {
                padding: 0;
            }
        }
        .more-info {
            flex-direction: column;
            .props {
                margin-bottom: 25px;
            }
        }
    }
    @media(max-width: 780px) {
        flex-direction: column;
        .wall-container {
            max-width: 100%;
            min-width: 100%;
            margin-top: 25px;
            border-top: 1px solid #d0d0d0;
            height: fit-content;
        }
        .desc {
            padding: 0 20px;
        }
    }
    @media(max-width: 420px) {
        .map,.job-img {
            width: 100%;
            height: 230px;
        }
        .title {
            width: 100%;
            margin-top: 40px;
        }
    }
}
