.user-profile {
    input {
        color: $clr2;
        background-color: $clr5;
        border: none;
        text-align: center;
        font-size: 20px;
        display: block;
        transition: all 0.3s;
        height: 40px;

        &:focus,
        &:hover {
            border: 1px solid #aaaaaa;
            border-radius: 7px;
        }
    }

    .info {
        flex-wrap: wrap;
        padding: 30px;
        align-self: center;
        .title {
            height: 180px;
            align-self: flex-start;
            .change-img {
                input {
                    position: fixed;
                    top: -10000px;
                    left: -10000px;
                }
            }
            .username {
                margin-top: 10px;
                color: $clr1;
                font-size: 30px;
                width: 220px;
            }
            img {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .basic {
            width: 320px;
            height: 180px;
            padding: 20px 0;
            align-self: flex-start;
            .email {
                padding-left: 38px;
                .email-input {
                    text-align: start;
                    padding-left: 5px;
                    margin-left: 3px;
                }
            }
            .salary {
                & > div {
                    padding-right: 5px;
                }
                input {
                    width: 96px;
                    margin-right: 5px;
                    text-align: start;
                    padding: 5px;
                }
                h2 {
                    color: $clr3;
                    margin-bottom: 7px;
                    font-size: 1.3em;
                }
            }
        }
        .extra {
            width: 220px;
            h2 {
                color: $clr3;
                margin-bottom: 20px;
            }
            .skills {
                li {
                    margin-bottom: 15px;
                }
                p {
                    text-decoration: underline;
                    margin-top: 20px;
                    cursor: pointer;
                }
                .skill {
                    margin: -10px -5px;
                }
            }
        }
    }
    .jobs {
        padding: 30px;
        flex-grow: 1;
        .icon {
            margin-right: 10px;
            font-size: 0.95em;
            &.heart,
            &.trash {
                font-size: 0.85em;
            }
        }
        .category {
            width: 100%;
            min-height: 170px;
            padding: 20px 0;
            border-top: 1px solid #d5d5d5;
            h2 {
                color: $clr3;
                margin: 0 0 10px;
            }
            .no-jobs {
                flex-grow: 1;
                a {
                    margin-top: 3px;
                    color: $clr1;
                }
            }
        }
        .job-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            .job-preview {
                width: 230px;
                margin: 20px;
                .job-img {
                    height: 120px;
                }
                .desc {
                    height: 170px;
                }
                .owner-logo {
                    top: 95px;
                }
                .more-info {
                    .match span {
                        display: none;
                    }
                }
                .company {
                    margin: 20px 0 0;
                }
            }
        }
    }
    @media (max-width: 896px) {
        .info {
            padding: 10px 30px;
            .extra {
                margin-top: 40px;
            }
        }
        .jobs {
            padding: 30px 0px;
        }
    }
    @media (max-width: 676px) {
        .info {
            .basic {
                width: 290px;
            }
            .extra, .salary {
                margin-top: 20px;
            }
        }
    }
    @media (max-width: 370px) {
        .info {
            padding: 0;
        }
    }
}
