.comp-job-preview {
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;

    h3 {
        color: $clr3;
    }
    .applies {
        color: $clr1;
    }
    & *:not(:last-child) {
        margin-right: 30px;
    }
    .notification {
        color: #ff3636;
        position: absolute;
        left: -20px;
    }
    @media (max-width: 618px) {
        margin-bottom: 25px;
        h3 {
            margin-bottom: 10px;
        }
    }
}
