.comp-job-preview {
    flex-wrap: wrap;
    margin-bottom: 20px;

    h3 {
        color: $clr3;
    }
    .applicants {
        color: $clr1;
    }
    & *:not(:last-child) {
        margin-right: 30px;
    }
    @media(max-width: 618px) {
        margin-bottom: 25px;
        h3 {
            margin-bottom: 10px;
        }
    }
}
