.comp-job-preview {
    flex-wrap: wrap;
    margin-bottom: 20px;

    h3 {
        width: 250px;
        color: $clr3;
    }
    .applicants {
        color: $clr1;
    }
    .info {
        flex-grow: 1;
        margin: 15px 0;
        max-width: 500px;
        padding-right: 60px;
    }
}