footer {
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    border-top: 3px solid #cbd0d0;

    .main {
        width: 450px;
    }

    .logo {
        position: absolute;
        right: 25px;
    }
    .developer {
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            color: $clr1;
        }
    }
}
