.job-preview {
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    .job-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .icons {
        position: absolute;
        width: 100%;
        padding: 0 16px;
        top: 20%;

        h2 {
            font-size: 1.7em;
            color: white;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            transition: 0.3s;
            background-color: #505050ba;

            &:hover {
                color: #ff5e5e;
            }
        }

        .trash {
            font-size: 1.6em;

            &:hover {
                color: #fff4bc;
            }
        }
    }

    .desc {
        border-radius: 0 0 10px 10px;
        width: 100%;
        height: 154px;
        background-color: white;

        .saves {
            height: 20px;
            color: $clr3;
            span {
                font-size: 1.5em;
                padding-top: 2px;
                padding-left: 3px;
            }
        }
    }

    .company {
        width: 100%;
        padding: 0 15px;
        margin: 10px 0 0;

        .owner-logo {
            height: 45px;
            width: 45px;
            object-fit: cover;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 176px;
            background-color: #fff;
            border: 1px solid #d9d9d9;
        }

        .details {
            flex-grow: 1;
            height: 70px;

            h2 {
                margin-bottom: 5px;
            }
            .job-title {
                color: $clr1;
                margin-top: 5px;
                font-size: 1.1em;
            }
        }
    }

    .extra-pre {
        width: 100%;
        padding: 0 25px;
        margin: 0 0 15px;
        font-size: 15px;

        .salary {
            margin-bottom: 8px;
        }
    }

    .more-info {
        height: 100%;
        .match {
            color: #989b9d;
            margin-bottom: 5px;
        }
        .colored {
            color: #08bd0e;
            font-family: Raleway-Semi;
        }
    }

    .favorite-icon {
        position: absolute;
        left: 10px;
        top: 5px;
        font-size: 1.3em;
    }
}

// Animation

.right-enter-active,
.right-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.right-enter-active {
    transition-delay: 0.5s;
    opacity: 1;
}

.right-enter,
.right-leave-to {
    opacity: 0;
    transform: translateX(300px);
}

.left-enter-active,
.left-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.left-enter-active {
    transition-delay: 0.5s;
    opacity: 1;
}

.left-enter,
.left-leave-to {
    opacity: 0;
    transform: translateX(-300px);
}
