* {
    box-sizing: border-box;
}

html {
    color: $clr2;
}

body {
    margin: 0;
    background-color: $clr5;
}

.logo {
    height: 75px;
 }

 a {
    text-decoration: none;
    color: inherit;
}

.main-view {
    min-height: calc(100vh - 152px);
}

input, button, textarea, select {
    outline: none;
}